    <input type="hidden" name="id" value="{{this.postId}}">
    <img src="{{this.imageUpload}}" class="card-img-top">
    <div class="card-body">
        <h3 class="card-title">{{this.city}}</h3>
        <h5>{{this.countryName}}</h5>
        {{this.blogPost}}
    </div>
</div>